

    <GridLayout rows="auto, auto, * " class="disable-deliveries">
        <GridLayout row="0" >
        </GridLayout>

        <GridLayout row="1">
            <ns-page-title title="DISABLE DELIVERIES"></ns-page-title>
        </GridLayout>

        <StackLayout row="2">

            <Label class="heading m-t-20"
                   textAlignment="center"
                    text="Confirm Disabling Deliveries"></Label>

            <Button text="Disable Deliveries"
                    (tap)="onSubmit()"
                    class="btn action-button m-t-20">
            </Button>

        </StackLayout>
    </GridLayout>

