.add-to-cart-sm {

  Label {
    color: white;
  }
}
.nav-icon {
  background-color: black;
  color: white;
  font-size: 30;
  border-radius: 80;
  opacity: .66;
}

.action-section {

  .icon {
    font-size: 35;
  }

}

.title {
  background-color: black;
  color: white;

  font-size: 18;
  font-weight: 400;
  .icon {
    font-size: 30;
  }
}

.second-title {
  font-size: 18;
  font-weight: 500;
}

.special {
  color: red;
  font-size: 14;
}

//.heading {
//}

.item-description {
  font-size: 14;
}
