.dialog-header {
  padding: 15;
  border-bottom-width: 2;
  font-size: 20;
  font-weight: 600;
}

.dialog-icon {
  font-size: 40;
}

.btn-wrapper {
  Button {
    font-size: 15%;
    padding: 15;
    font-weight: 500;
  }
}

