.checkout-select {

  .numberCircle {
    border-width: 1.5;
    border-radius: 100;
    padding: 0 4;
  }

  .payment-button {
    margin: 0;
    width: 180;
    height: 70;
  }

  .small-redeem-button {
    height: 130;
  }
  //.icon {
  //  font-size: 35;
  //}

}
