<GridLayout rows="auto, auto, * ">

    <GridLayout row="0">
        <ns-page-title title="CARS"></ns-page-title>
    </GridLayout>

    <GridLayout row="1" columns="*, auto" class="add-car p-10">
        <Label col="0"
               verticalAlignment="center"
               text="Add a car"></Label>
        <Label col="1"
               [nsRouterLink]="['../car-add']"
               clearHistory="true"
               verticalAlignment="center"
               textAlignment="center"
               horizontalAlignment="center"
               class="mdi action-button"
               text="&#xe147;">
        </Label>
    </GridLayout>

    <GridLayout row="2" class="cars p-l-10 p-r-10">

        <ng-container *ngIf="utilityService.smallScreenWidth(); then smallScreen else standardScreen">
        </ng-container>

        <ng-template #smallScreen>
            <GridLayout rows="auto, *">

                <GridLayout row="0" columns="*, 80, 140" class="table-header">
                    <Label col="0" verticalAlignment="center" text="Plate"></Label>
                    <Label col="1" verticalAlignment="center" textAlignment="center"
                           [text]="utilityService.smallScreenWidth() ? 'Cur' : 'Current'"></Label>
                    <Label col="2" verticalAlignment="center" text=""></Label>
                </GridLayout>

                <RadListView row="1" [items]="listItems">

                    <ng-template tkListItemTemplate let-item="item">
                        <GridLayout columns="*, 80, 140" class="table-row">
                            <Label col="0" verticalAlignment="center" [text]="item.plate"></Label>
                            <Label col="1" verticalAlignment="center" textAlignment="center"
                                   [text]="item.currentCar ? '&#xe86c;' : '&#xe5cd;'" class="mdi icon"></Label>

                            <GridLayout col="2" columns="*, *" verticalAlignment="center">
                                <Label col="0"
                                       [nsRouterLink]="['../car-current', item.userCarId ]"
                                       verticalAlignment="center"
                                       textAlignment="center"
                                       text="&#xe838;"
                                       class="mdi action-button"
                                       [ngClass]="{'small-icon' : utilityService.smallScreenWidth()}">
                                </Label>
                                <Label col="1"
                                       [nsRouterLink]="['../car-delete', item.userCarId ]"
                                       verticalAlignment="center"
                                       textAlignment="center"
                                       text="&#xe872;"
                                       class="mdi action-button"
                                       [ngClass]="{'small-icon' : utilityService.smallScreenWidth()}">
                                </Label>
                            </GridLayout>

                        </GridLayout>
                    </ng-template>

                </RadListView>
            </GridLayout>
        </ng-template>

        <ng-template #standardScreen>
            <GridLayout rows="auto, *">

                <GridLayout row="0" columns="*, 80, 80, 140" class="table-header">
                    <Label col="0" verticalAlignment="center" text="Plate"></Label>
                    <Label col="1" verticalAlignment="center" text="Model"></Label>
                    <Label col="2" verticalAlignment="center" textAlignment="center"
                           [text]="utilityService.smallScreenWidth() ? 'Cur' : 'Current'"></Label>
                    <Label col="3" verticalAlignment="center" text=""></Label>
                </GridLayout>

                <RadListView row="1" [items]="listItems">

                    <ng-template tkListItemTemplate let-item="item">
                        <GridLayout columns="*, 80, 80, 140" class="table-row">
                            <Label col="0" verticalAlignment="center" [text]="item.plate"></Label>
                            <Label col="1" verticalAlignment="center" [text]="item.model"></Label>
                            <Label col="2" verticalAlignment="center" textAlignment="center"
                                   [text]="item.currentCar ? '&#xe86c;' : '&#xe5cd;'" class="mdi icon"></Label>

                            <GridLayout col="3" columns="*, *" verticalAlignment="center">
                                <Label col="0"
                                       [nsRouterLink]="['../car-current', item.userCarId ]"
                                       verticalAlignment="center"
                                       textAlignment="center"
                                       text="&#xe838;"
                                       class="mdi action-button"
                                       [ngClass]="{'small-icon' : utilityService.smallScreenWidth()}">
                                </Label>
                                <Label col="1"
                                       [nsRouterLink]="['../car-delete', item.userCarId ]"
                                       verticalAlignment="center"
                                       textAlignment="center"
                                       text="&#xe872;"
                                       class="mdi action-button"
                                       [ngClass]="{'small-icon' : utilityService.smallScreenWidth()}">
                                </Label>
                            </GridLayout>

                        </GridLayout>
                    </ng-template>

                </RadListView>
            </GridLayout>
        </ng-template>

    </GridLayout>

</GridLayout>

