
  .logo {
    height: 190;
  }

  .title {
    horizontal-align: center;
    font-size: 20;
    font-weight: 400;
    text-align: center;
  }


  .btn {
    font-size: 20;
    margin-top: 50;
    height: 100;
    width: 250;
  }

