.transactions {

  Label {
    font-size: 16;

  }

  .action-button {
    font-size: 45;
    margin-left: 10;
  }

  .icon {
    font-size: 28;
  }


}

.transactions-sm {

  Label {
    font-size: 14;

  }

  .action-button {
    font-size: 45;
    margin-left: 10;
  }

  .icon {
    font-size: 24;
  }



}

.show-payment {


  font-size: 16;

  .icon {
    font-size: 28;
    margin-right: 10;
  }

}
