.sign-up {

  font-size: 16;

  .field {
    margin-top: 10;
  }

  .action-button {
    margin-top: 20;
  }

  .hr-light {
    border-color: #808080;
    border-bottom-width: 1;
  }

  .code-title {
    font-weight: 600;
  }
}
