<GridLayout rows="auto, auto, *">


    <GridLayout row="0" *ngIf="model === null else show">

        <ns-page-title title="DELIVERY"></ns-page-title>

    </GridLayout>

    <ng-template #show>

        <GridLayout row="0" columns="*, *" class="summary-bar">
            <Label col="0" horizontalAlignment="center" [text]="'ORDER ' + model.reference"></Label>
            <Label col="1" horizontalAlignment="center"
                   [text]="model.storeStatus | driverOrderStoreStatus"></Label>
        </GridLayout>

        <GridLayout row="1">

            <GridLayout rows="auto, auto, auto, auto"
                        [ngClass]="{ 'small-delivery-detail': utilityService.smallScreenWidth()}"
                        class="delivery-detail">

                <GridLayout row="0"
                            columns="*, *"
                            class="heading">

                    <Label col="0"
                           horizontalAlignment="center"
                           [text]="model.firstName + ' ' + model.lastName">
                    </Label>
                    <Label col="1"
                           horizontalAlignment="center"
                           [text]="showAddress ? model.phoneNumber : ''">
                    </Label>

                </GridLayout>

                <GridLayout row="1"
                            columns="*, *" class="heading">

                    <Label col="0"
                           horizontalAlignment="center"
                           [text]="(model.deliveryMethodAsap ? 'Delivery ASAP' : 'Delivery')">
                    </Label>

                    <Label col="1"
                           [textWrap]="false"
                           horizontalAlignment="center"
                           [text]="(model.scheduledDeliveryMethodTime | dayMonthTime)">
                    </Label>

                </GridLayout>


                <GridLayout row="2"
                            class="p-l-10"
                            rows="auto, auto"
                            *ngIf="pickupActionVisible">

                    <StackLayout row="0" class="hr-light m-t-10"></StackLayout>

                    <GridLayout row="1" columns="*, auto" class="p-10">
                        <Label col="0"
                               verticalAlignment="center"
                               text="Confirm Picked Up">
                        </Label>

                        <Label col="1"
                               (tap)="onActionConfirm()"
                               verticalAlignment="center"
                               textAlignment="center"
                               horizontalAlignment="center"
                               class="mdi btn action-button icon"
                               text="&#xe572;">
                        </Label>

                    </GridLayout>


                </GridLayout>

                <GridLayout row="2"
                            class="p-l-10"
                            rows="auto, auto, auto"
                            *ngIf="deliverActionVisible">

                    <StackLayout row="0" class="hr-light m-t-10"></StackLayout>

                    <GridLayout row="1" columns="*, auto">
                        <Label col="0"
                               verticalAlignment="center"
                               text="Navigate">
                        </Label>

                        <Label col="1"
                               [isEnabled]="mapsAvailable"
                               (tap)="onNavigation()"
                               verticalAlignment="center"
                               textAlignment="center"
                               horizontalAlignment="center"
                               class="mdi btn action-button icon"
                               text="&#xe55d;">
                        </Label>

                    </GridLayout>

                    <GridLayout row="2" columns="*, auto" class="">
                        <Label col="0"
                               verticalAlignment="center"
                               text="Confirm Delivered">
                        </Label>

                        <Label col="1"
                               (tap)="onActionConfirm()"
                               verticalAlignment="center"
                               textAlignment="center"
                               horizontalAlignment="center"
                               class="mdi btn action-button icon"
                               text="&#xe531;">
                        </Label>

                    </GridLayout>


                </GridLayout>

                <GridLayout row="2"
                            *ngIf="!pickupActionVisible && !deliverActionVisible">
                </GridLayout>

                <GridLayout row="3"
                            class="m-t-10"
                            *ngIf="showAddress"
                            columns="auto, *">

                    <Label *ngIf="!utilityService.smallScreenWidth()"
                           col="0"
                           text="To:"
                           class="address-heading">
                    </Label>

                    <Label *ngIf="utilityService.smallScreenWidth()"
                           col="0">
                    </Label>

                    <GridLayout col="1">
                        <ns-address-view [address]="address"
                                         [backgroundAccent]="false"
                                         [displayFormat]="1">
                        </ns-address-view>
                    </GridLayout>

                </GridLayout>

                <GridLayout row="3"
                            *ngIf="!showAddress">
                </GridLayout>

            </GridLayout>

        </GridLayout>

        <GridLayout row="2" rows="auto, *" class="table">

            <StackLayout row="0" class="hr-light"></StackLayout>

            <RadListView row="1" [items]="listItems" class="m-l-10 m-r-10">

                <ng-template tkListItemTemplate let-item="item">
                    <GridLayout columns="30, *, 80, 90" class="table-row">

                        <Label col="0"
                               [text]="item.itemTypeId === 3 ? item.qty: ''">
                        </Label>

                        <Label col="1"
                               [ngClass]="{'condiment-description': item.itemTypeId === 10}"
                               [text]="item.description">
                        </Label>

                        <Label col="2"
                               horizontalAlignment="right"
                               textAlignment="right"
                               [text]="item.unitPrice | currency">
                        </Label>

                        <Label col="3"
                               horizontalAlignment="right"
                               textAlignment="right"
                               [text]="item.total | currency">
                        </Label>


                    </GridLayout>
                </ng-template>

                <ng-template tkListViewFooter let-item="item">
                    <Label class="footer p-t-5 p-b-5"
                           textAlignment="right"
                           [text]="'Order Total ' + (model.total | currency)">

                    </Label>
                </ng-template>

            </RadListView>

        </GridLayout>

    </ng-template>

</GridLayout>

