.loading-text {
  margin-top: 50;
}

.product-customise {
  font-size: 16;

  .product {
    padding-top: 5;
    padding-bottom: 5;
    padding-left: 20;
    padding-right: 20;
    border-bottom-width: 1;
  }
}


.heading {
  font-size: 16;
  font-weight: 400;
  padding: 10;
  border-bottom-width: 1;
}

.heading-icon {
  font-size: 26;
  padding-right: 5;

}

.title {
//  background-color: red;
  Label {
    //color: white;
    font-size: 18;
    font-weight: 400;

  }
}



.qty-change-icon {
  font-size: 26;
  width: 50;
}
