.add-payment-method {

  border-bottom-width: 1;
  font-size: 16;

  .action-button {
    font-size: 45;
    margin-left: 10;
  }

}

.payment-methods {
  font-size: 16;

  .action-button {
    font-size: 45;
    margin-left: 10;
  }

  .icon {
    font-size: 28;
  }

  .small-icon {
    font-size: 24;
  }
}
