
    <ng-container [ngSwitch]="componentView">

        <ng-template [ngSwitchCase]="ComponentUserPasswordView.default">

            <GridLayout rows="auto, auto, * ">
                <GridLayout row="0" >
                </GridLayout>


                <GridLayout row="1">
                    <ns-page-title title="CHANGE PASSWORD"></ns-page-title>
                </GridLayout>

                <GridLayout row="2">
                    <ScrollView>

                        <StackLayout [formGroup]="passwordForm"
                                     (ngSubmit)="onPasswordFormSubmit()"
                                     autocomplete="off"
                                     class="m-20">

                            <StackLayout class="field m-t-20">
                                <TextField hint="Current Password"
                                           formControlName="currentPassword"
                                           secure="true"
                                           returnKeyType="next"
                                           autocorrect="false"
                                           class="input input-border">
                                </TextField>
                                <Label class="validation p-l-10"
                                       [visibility]="showValidationError('currentPassword') && passwordForm.get('currentPassword').hasError('required')  ? 'visible' : 'collapse'"
                                       text="current password is required">
                                </Label>
                                <Label class="validation p-l-10"
                                       [visibility]="showValidationError('currentPassword') && passwordForm.get('currentPassword').hasError('minlength')  ? 'visible' : 'collapse'"
                                       text="current password must have at least 8 characters">
                                </Label>
                                <Label class="validation p-l-10"
                                       [visibility]="showValidationError('currentPassword') && passwordForm.get('currentPassword').hasError('maxlength')  ? 'visible' : 'collapse'"
                                       text="current password must be less than 20 characters">
                                </Label>
                                <Label class="validation p-l-10"
                                       [visibility]="showValidationError('currentPassword') && passwordForm.get('currentPassword').hasError('numberRequired')  ? 'visible' : 'collapse'"
                                       text="current password requires at least one number">
                                </Label>
                                <Label class="validation p-l-10"
                                       [visibility]="showValidationError('currentPassword') && passwordForm.get('currentPassword').hasError('upperCaseRequired')  ? 'visible' : 'collapse'"
                                       text="current password requires at least one upper case letter">
                                </Label>
                                <Label class="validation p-l-10"
                                       [visibility]="showValidationError('currentPassword') && passwordForm.get('currentPassword').hasError('lowerCaseRequired')  ? 'visible' : 'collapse'"
                                       text="current password requires at least one lower case letter">
                                </Label>

                            </StackLayout>

                            <StackLayout class="field m-t-20">
                                <TextField hint="New Password"
                                           formControlName="newPassword"
                                           secure="true"
                                           returnKeyType="next"
                                           autocorrect="false"
                                           class="input input-border">
                                </TextField>
                                <Label class="validation p-l-10"
                                       [visibility]="showValidationError('newPassword') && passwordForm.get('newPassword').hasError('required')  ? 'visible' : 'collapse'"
                                       text="password is required">
                                </Label>
                                <Label class="validation p-l-10"
                                       [visibility]="showValidationError('newPassword') && passwordForm.get('newPassword').hasError('minlength')  ? 'visible' : 'collapse'"
                                       text="password must have at least 8 characters">
                                </Label>
                                <Label class="validation p-l-10"
                                       [visibility]="showValidationError('newPassword') && passwordForm.get('newPassword').hasError('maxlength')  ? 'visible' : 'collapse'"
                                       text="password must be less than 20 characters">
                                </Label>
                                <Label class="validation p-l-10"
                                       [visibility]="showValidationError('newPassword') && passwordForm.get('newPassword').hasError('numberRequired')  ? 'visible' : 'collapse'"
                                       text="password requires at least one number">
                                </Label>
                                <Label class="validation p-l-10"
                                       [visibility]="showValidationError('newPassword') && passwordForm.get('newPassword').hasError('upperCaseRequired')  ? 'visible' : 'collapse'"
                                       text="password requires at least one upper case letter">
                                </Label>
                                <Label class="validation p-l-10"
                                       [visibility]="showValidationError('newPassword') && passwordForm.get('newPassword').hasError('lowerCaseRequired')  ? 'visible' : 'collapse'"
                                       text="password requires at least one lower case letter">
                                </Label>

                            </StackLayout>

                            <StackLayout class="field m-t-20">
                                <TextField hint="Confirm New Password"
                                           formControlName="confirmNewPassword"
                                           secure="true"
                                           returnKeyType="done"
                                           autocorrect="false"
                                           class="input input-border">
                                </TextField>
                                <Label class="validation p-l-10"
                                       [visibility]="showValidationError('confirmNewPassword') && passwordForm.get('confirmNewPassword').hasError('required')  ? 'visible' : 'collapse'"
                                       text="password confirmation is required">
                                </Label>
                                <Label class="validation p-l-10"
                                       [visibility]="showValidationError('confirmNewPassword') && passwordForm.get('confirmNewPassword').hasError('mismatchedPasswords')  ? 'visible' : 'collapse'"
                                       text="passwords do not match">
                                </Label>

                            </StackLayout>

                            <Button class="btn action-button"
                                    text="Submit New Password"
                                    (tap)="onPasswordFormSubmit()"
                                    [isEnabled]="passwordForm.valid">
                            </Button>

                        </StackLayout>

                    </ScrollView>
                </GridLayout>

            </GridLayout>


        </ng-template>

        <ng-template [ngSwitchCase]="ComponentUserPasswordView.changePasswordFail">

            <GridLayout rows="auto, auto, * ">
                <GridLayout row="0" columns="*" class="action-section">

                    <Button col="0"
                            [nsRouterLink]="['../']"
                            text="CANCEL">
                    </Button>

                </GridLayout>

                <GridLayout row="1">
                    <ns-page-title title="CHANGE PASSWORD"></ns-page-title>
                </GridLayout>

                <GridLayout row="2">
                    <ScrollView>
                        <StackLayout class="m-20">

                            <Label text="Password change failed."
                                   [textWrap]="true"
                                   horizontalAlignment="center"
                                   class="p-20">
                            </Label>

                            <Label [text]="failMessage"
                                   [textWrap]="true"
                                   horizontalAlignment="center"
                                   class="fail p-20">
                            </Label>

                            <Button class="btn action-button m-t-20"
                                    text="Continue"
                                    (tap)="onContinue()">
                            </Button>

                        </StackLayout>

                    </ScrollView>
                </GridLayout>

            </GridLayout>

        </ng-template>

        <ng-template [ngSwitchCase]="ComponentUserPasswordView.changePasswordDone">

            <GridLayout rows="auto, * ">

                <GridLayout row="0">
                    <ns-page-title title="CHANGE PASSWORD"></ns-page-title>
                </GridLayout>

                <GridLayout row="1">
                    <ScrollView>
                        <StackLayout class="m-20">

                            <Label text="Your password has been changed."
                                   [textWrap]="true"
                                   horizontalAlignment="center"
                                   class="p-20">
                            </Label>

                            <Button class="btn action-button m-t-20"
                                    text="Continue"
                                    (tap)="onContinue()">
                            </Button>

                        </StackLayout>

                    </ScrollView>
                </GridLayout>

            </GridLayout>

        </ng-template>

    </ng-container>


