<StackLayout [ngClass]="{ 'accordion-closed': !open, 'accordion-open': open }" class="accordion">


    <GridLayout columns="auto, *, auto" (tap)="onTap()" class="accordion-header">
        <Label  *ngIf="icon" col="0" [text]="icon" verticalAlignment="center" class="mdi left-icon"></Label>
        <Label col="1"  [text]="label" verticalAlignment="center" class="accordion-text text-muted"></Label>
        <Label *ngIf="open" col="2" verticalAlignment="center" text="&#xe316;" class="mdi accordion-icon"></Label>
        <Label *ngIf="!open" col="2" verticalAlignment="center" text="&#xe313;" class="mdi accordion-icon"></Label>
    </GridLayout>

    <StackLayout>
        <ng-content *ngIf="open"></ng-content>
    </StackLayout>

</StackLayout>
