.cart-line {
  font-size: 18;
  padding-left: 10;
  padding-right: 10;
}

.top-line {
  border-top-color: #e0e0e0;
  border-top-width: 1;
padding-top: 10;
}

.qty-change-icon {
  font-size: 30;
}

.item-description {
  margin-left: 5;
}

.condiment-description {
  margin-left: 5;
}

