.summary-bar {
    Label {
        //margin: 0 3;
    }
    .count {
        border-width: 1.5;
        border-radius: 100;
        padding: 0 4;
    }
    .shopping-cart-widget-right-icon {
        font-size: 35;
    }
    Image {
        width: 30;
    }

}

