.list-item {

  font-size: 14;
  border-bottom-width: 1;
  border-bottom-color: #9e9e9e;
  padding-top: 5;
  padding-bottom: 5;

  .heading {
    font-weight: 500;
    width: 40%;
    margin-right: 5;
  }
}
