
.order-detail {

  .line {
    padding-top: 5;
    padding-bottom: 5;
  }
  .heading {
    font-weight: 500;
    width: 150;
    padding-right: 10;
  }

  .address-heading {
    font-weight: 500;
    width: 50;
    padding-right: 10;
  }

}

.order-detail-page-std {
  font-size: 16;
  padding: 10;

}

.order-detail-page-sm {
  font-size: 12;
  padding: 5;

}

.table {
//  font-size: 16;
}

.footer {
  font-weight: 500;
  border-bottom-width: 1;
}
